$comonElements: body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dl, dd, ol, ul, li, a, span, caption, th, td, form, fieldset, legend, input, button, textarea, address;

// font size
$baseFontSize: 16px;

// 兼容前缀
$prefixers: webkit, moz, ms, o;

// -----------------------通用组件变量
// 按钮颜色
$components-btnBGC: #1890FF;
$components-btnFontColor: #1a1a1a;
$components-btnHoverBGC: #40A9FF;
$components-btnClickBGC: #096DD9;

